{
    "bin_path": "./bin",
    "plugins": {
        "diec": {
            "name": "Detect It Easy Analyzer",
            "enabled": true,
            "tool": "diec"
        },
        "capa": {
            "name": "capa Capability Analyzer",
            "enabled": true,
            "tool": "capa-v9.4.0-linux"
        }
    }
}